*{
    box-sizing: border-box;
  }
  
  html{
    font-size: 16px;
    font-family:  "Roboto", sans-serif;
    color:  #ffffff;
    overflow-y: scroll;
    letter-spacing: 0.1em;
  }
  
  h1{
    font-size: 3.75rem;
    letter-spacing: 0.080em;
    font-weight: 300;
    font-family: "Roboto Slab", serif;
    text-align: center;
    line-height: 1.20;
  }
  
  a{
    text-decoration: none;
    color: #ffffff;
  }
  
  .btn{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  min-width: 250px;
  }
  
  .btn-accent{
  background-color: rgba(45, 54, 81, 0.8);
  border: 2px solid #2d3651;
  min-width: 350px;
  }
  
  .btn, .btn-accent{
    font-size: 1.125rem;
    display: block;
    padding: 18px 20px;
    height: 60px;
    text-align: center;
    letter-spacing: 0.100em;
    transition: background-color 0.5s;

    &:focus, 
    &:hover{
    background-color: #D66926;
    
    }
  }
  

  