.footer {
  padding: 50px 20px 70px;

  text-align: center;

  background-color: #2d3651;

  &__container {
    @extend %container;
  }

  &__social {
    position: relative;

    display: flex;
    justify-content: center;

    margin: 10px 0 50px 2px;

    gap: 18.5px;

    .fab {
      font-size: 36px;
    }

    a {
      &:hover {
        transition: 0.5s;

        color: $color-accent;
      }
    }

    &::after {
      position: absolute;
      bottom: -30px;
      left: calc(50% - 75px / 2);

      width: 75px;
      height: 2px;

      content: "";

      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__title {
    span {
      &:nth-of-type(1) {
        margin-right: -0.5em;

        letter-spacing: 0.33em;

        color: #637588;

        font-weight: 100;
      }

      &:nth-of-type(2) {
        letter-spacing: 0.05em;

        color: #e5e5e5;

        font-weight: 700;
      }
    }
  }
}
