  
  .header-navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__list{
      list-style: none;
      padding: 0;
      margin: 0 -10px 0 0;
      display: flex;
      justify-content: flex-end;
    }

    &__item{
    margin-left: 20px;
    }

    &__link{
      display: block;
      padding: 20px 10px;
      font-size: 1.125rem;

      &:hover,
      &:focus {
        color:#D66926 ;
        transition: 0.5s;
        
        }
    }
  }

