  
      .header{
        position: relative;
        background-color: #2d3651;
        min-height: 100vh;
        /* background-image: url(../img/img-header.png); */
        background-position: 50% 50%;
        background-size: cover;
        padding: 100px 0;
        display: grid;
        align-content: center;
        color: #ffffff;
        }
