.header-logo{
    font-size: 1.5rem;
    letter-spacing: 0.22em;
    
&__link{
  display: block;
  padding: 20px 20px 20px 0px;
}

&__accent{
  border: 3px solid #d53d27;
  display:inline-block ;
  padding: 14px 1px 13px 5px;
  margin-right: 4px;
  }
    }
    