.posts__container {
  @extend %container;

  h2 {
    margin-top: 0;
    margin-bottom: 56px;

    letter-spacing: 0.1em;

    color: $color-primary;

    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    line-height: 1.2em;

    @include lg-md {
      margin-bottom: 42px;

      font-size: 2rem;
    }
    @include md-sm {
      margin-bottom: 36px;

      font-size: 1.5rem;
    }
    @include sm {
      margin-bottom: 36px;

      text-align: center;

      font-size: 1.5rem;
    }
  }
}

.posts__grid {
  @include lg-min {
    display: grid;

    padding-bottom: 20px;

    gap: $gap;
    grid-template-areas: "p1 p1 p2 p3"
    "p4 p5 p6 p6 ";
    grid-template-columns: repeat(4, 1fr);
  }
  @include lg-md {
    display: grid;

    padding-bottom: 20px;

    gap: $gap;
    grid-template-areas: "p1 p1 p2"
    "p3 p4 p4"
    "p5 p5 p6";
    grid-template-columns: repeat(3, 1fr);
  }
  @include md-sm {
    display: grid;

    padding-bottom: 20px;

    gap: $gap;
    grid-template-areas: "p1 p2"
    "p3 p4"
    "p5 p6";
    grid-template-columns: repeat(2, 1fr);
  }
}

.post-item {
  transition: background-color 0.5s;
  text-align: center;

  background-color: #f2f2f2;

  @include sm {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: rgba(99, 117, 136, 0.26);
  }

  &:hover .post-item__image img {
    transform: scale(1.1);
  }

  &__image {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    height: 100%;

    background-color: #2d3651;

    img {
      width: 100%;

      transition: transform 0.5s;

      object-fit: cover;
    }

    :hover {
      transform: scale(1.1);
    }
  }

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    color: $color-gray;

    grid-template-rows: 300px 1fr;


    &:hover {
      color: $color-primary;
    }
  }

  &__caption {
    display: grid;
    align-content: center;

    padding: 20px;

    line-height: 1.15;



    h3 {
      letter-spacing: 0.05em;

      font-family: "Roboto Slab", serif;
      font-size: 1.125rem;
    }

    p {
      height: 100%;

      letter-spacing: 0;
    }
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
