.skill-item {
  position: relative;

  overflow: hidden;

  background-color: $color-primary;
  background-position: 50% 50%;

  &:hover .skill-item__overlay {
    transition: 0.5s;

    opacity: 0.95 !important ;

    .skill-item__image {
      transition: 0.5s;
      transform: scale(1.1);
    }

    .skill-item__link {
      transition: 0.5s;

      color: $color-accent;
    }
  }
  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.8;
    background-color: $color-primary;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: 50% 50%;
    background-size: cover;
  }

  &__title {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;

    letter-spacing: 0.1em;

    font-size: 1.25rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: $gap;
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
